body {
  /* Old browsers */
  background: #141E30;
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(-90deg, #35577D, #141E30);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(-90deg, #35577D, #141E30);
  padding-left: 20px;

  color: #EEEEEE;
}
input {background-color: #EEEEEE;}

.demonhunter {color: #A330C9}
.deathknight {color: #C41F3B}
.druid {color: #FF7D0A}
.hunter {color: #ABD473}
.mage {color: #69CCF0}
.monk {color: #00FF96}
.paladin {color: #F58CBA}
.priest {color: #FFFFFF}
.rogue {color: #FFF569}
.shaman {color: #0070DE}
.warlock {color: #9482C9}
.warrior {color: #C79C6E}

.LATE { background-color: #FF902E}
.NOSHOW { background-color: #FC3838}
.BENCH { background-color: #34EBD8}
.SWAP { background-color: #345FEB}
.PERFORMANCE {background-color: #E5EB34}


a {
  color: #eeeeee
}

div {
  float: left;
  margin: 20px;
}

table.statTable {
  border-collapse: collapse;
}

table.statTable td {
  border: 1px solid black;
  text-align: center;
}

td.green {
  background-color: #00FF96;
  color: #000000;
}

td.yellow {
  background-color: #E5EB34;
  color: #000000;
}

td.red {
  background-color: #C41F3B;
  color: #000000;
}